.Project{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
    margin:auto;
    position: relative;
    width:350px;
    height:350px;
    color:white;
}

.Project:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Project img{
    /* width: 350px;
    height:350px; */
    max-width: 100%;
    max-height:100%;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
    text-align: center;
}

.DescriptionBox{
    z-index: 100;
    color:white;
    transition: .5 ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width:100%;
    display: none;
}

.DescriptionBox Button{
    margin:10px;
    color:white;
    text-decoration: none;
}

.Topic{
    width:100%;
    height:auto;
    z-index: 100;
    color:white;
    transition: .5 ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

.Topic p{
    color:white;
    justify-content: center;
    opacity: 1;
}

.Project:hover img{
    cursor: pointer;
    opacity: 0;
}

.Project:hover .DescriptionBox{
    opacity: 1;
    display: inline;
}

.Project:hover .Topic{
    opacity: 1;
    display: block;
}

.Project:hover .Topic h4{
    opacity: 1;
}

.Project:hover h4{
    opacity: 0;
}

@media(max-width:1024px){
    .Project{
        width:250px;
        height:350px;
    }

    .Topic{
        top:30%;
    }

    .Topic h4{
        font-size:20px;
    }

    .Topic p{
        font-size:15px;
    }
}