.Datacenter{
    width:100%;
    height:100vh;
}

.Skills{
    display: flex;
    flex-flow: row;
    text-align: center;
    margin:auto;
}

.Datacenter ul{
    list-style: none;
}

.Datacenter li{
    margin:20px;
    display: flex;
    flex-flow: column;
}