.Toolbar{
  /* height: 56px; */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #050C22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  color:#7ffbff;
  box-shadow: 0 10px 28px rgba(0,0,0,0.19),0 6px 10px rgba(0,0,0,0.23);
}

.Resume{
  border: solid 0.5px;
  padding:5px 30px;
  border-radius:3px;
  float:right;
}

.Resume a{
  text-decoration: none;
  color:#7ffbff;
}

.Resume:hover{
  background-color: #283593;
  cursor: pointer;
}

.Toolbar nav{
  height:100%;
  width:100%;
}

.Toolbar ul{
  list-style: none;
}

.Toolbar li{
  display: inline;
  margin: 20px;
}

.Toolbar li:hover,
.Toolbar li:active{
  cursor: pointer;
  font-weight: bold;
}


@media(max-width:599px){
  .DesktopOnly{
    display: none;
  }

}

@media(min-width:600px){
  .MobileOnly{
    display: none;
  }
}