.Toolbar{
  /* height: 56px; */
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Resume{
  border: solid black 0.5px;
  color: black;
  padding:5px 10px;
  border-radius:10px;
  float:right;
}

.Resume a{
  text-decoration: none;
}

.Resume:hover{
  color:#3b5998;
  border-color: #3b5998;
  cursor: pointer;
}

.Toolbar nav{
  height:100%;
}

.Toolbar ul{
  list-style: none;
}

.Toolbar li{
  display: inline;
  margin: 20px;
}

.Toolbar li:hover,
.Toolbar li:active{
  cursor: pointer;
  font-weight: bold;
}

@media(max-width:499px){
  .DesktopOnly{
    display: none;
  }

  .Toolbar{
    height:56px;
  }

}

@media(min-width:500px){
  .MobileOnly{
    display: none;
  }
}