.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left:0;
    top:0;
    z-index: 200;
    background-color: #001064;
    padding: 32px 16px;
    box-sizing: border-box;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    color:#7ffbff;
    box-shadow: 0 10px 28px rgba(0,0,0,0.19),0 6px 10px rgba(0,0,0,0.23);
}

.Resume{
    border: solid 0.5px;
    padding:5px 30px;
    border-radius:3px;
}
  
.Resume a{
  text-decoration: none;
  color:#7ffbff;
}

@media( min-width: 600px ){
    .SideDrawer{
        display: none;
    }
}

.Open{
    /* shift to right */
    transform: translateX(0);
}

.Close{
    /* shift to left */
    transform: translateX(-100%); 
}

.Logo{
    height:9%;
    margin-bottom: 42px;
}