.NavigationItems{
    margin: 30px 0px;
    padding: 0;
    list-style:none;
    display: flex;
    flex-flow:column;
    text-align: left;
    height:100%;
}

@media only screen and (min-width: 600px){
    .NavigationItems{
        flex-flow:row;
        float:right;
    }
}